/* css styles */

/* Table stuff */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  display: table;
  width: 100%;
}

caption {
  padding: 20px;
  caption-side: top;
  color: #666;
  text-align: center;
  letter-spacing: 1px;
  font-size: medium;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
  text-align: center;
}

td {
  text-align: center;
}


caption {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: rgba(210, 209, 209, 0.4);
}


/* Custom classes */

.dtype_label{
  color: #00abe3;
  font-style: italic;
}

.def_block{
  background-color: #FBD603;
}

.origin_block {
    font-family:'Bree Serif', serif;
    color: #2980b9;
    display:block;
    margin-bottom:10px;
}
