# Lint the code using the defined pre-commits
name: LintCode
on: [push]

jobs:
  lint_code:
    runs-on: ubuntu-latest

    # only run if CI isn't turned off
    if: github.event_name == 'push' || !contains(github.event.pull_request.labels.*.name, 'no_ci')

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: "true"
          fetch-depth: '0'

      - uses: ./.github/actions/load-shared-vars

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_DEFAULT }}

      - name: install linting packages
        run: uv tool install pre-commit

      - name: run all precommits
        run: uv tool run pre-commit run --all
