# An action for running DASCore's performance benchmarks.
name: CodSpeed Benchmarks

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read # required for actions/checkout
  id-token: write # required for OIDC authentication with CodSpeed

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: "true"
          fetch-depth: '0'

      - uses: ./.github/actions/load-shared-vars

      - uses: actions/setup-python@v6
        with:
          # Defined in .github/actions/load-shared-vars/action.yml
          python-version: ${{ env.PYTHON_DEFAULT }}

      - name: Install dependencies
        run: pip install ".[profile]"

      - uses: ./.github/actions/cache-test-data
        with:
          cache-number: 1

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: instrumentation
          run: ./.github/test_code.sh profile
