# Run full test suite using conda env and all optional deps.
name: TestCode
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    paths:
      - 'pyproject.toml'
      - '**.py'
      - '.github/workflows/*.yml'

env:
  # used to manually trigger cache reset. Just increment if needed.
  CACHE_NUMBER: 1
  # Ensure matplotlib doesn't try to show figures in CI
  MPLBACKEND: Agg
  QT_QPA_PLATFORM: offscreen

# Cancel previous runs when this one starts.
concurrency:
  group: TestCode-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  # Load Python version matrix from shared-vars.yml
  setup:
    runs-on: ubuntu-latest
    outputs:
      python-matrix: ${{ steps.load-vars.outputs.test-matrix }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/load-shared-vars
        id: load-vars

  # Runs the tests on combinations of the supported python/os matrix.
  test_code:
    needs: setup
    timeout-minutes: 25
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ${{ fromJson(needs.setup.outputs.python-matrix) }}

    # only run if CI isn't turned off
    if: github.event_name == 'push' || !contains(github.event.pull_request.labels.*.name, 'no_ci')

    env:
      # set conda environment file with dependencies
      env_file: 'environment.yml'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: 'true'
          fetch-depth: '0'

      - uses: ./.github/actions/mamba-install-dascore
        with:
          python-version: ${{ matrix.python-version }}
          cache-number: ${{ env.CACHE_NUMBER }}

      # Runs test suite and calculates coverage
      - name: run test suite
        shell: bash -el {0}
        run: ./.github/test_code.sh

      # Runs examples in docstrings
      - name: test docstrings
        shell: bash -el {0}
        run: ./.github/test_code.sh doctest

      # Upload coverage files
      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: false
          files: ./coverage.xml
          flags: unittests
          name: PR_tests
          token: ${{ secrets.CODECOV_TOKEN }}
      
            
# This is a very useful step for debugging, it allows you to ssh into the CI
# machine (https://github.com/marketplace/actions/debugging-with-tmate).
#
#- name: Setup tmate session
#  uses: mxschmitt/action-tmate@v3
