name: TestCode
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

# Cancel previous runs when this one starts.
concurrency:
  group: TestCode-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true


jobs:
  # Runs the tests on combinations of the supported python/os matrix.
  test_code:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.9', '3.10', '3.11']

    # only run if CI isn't turned off
    if: github.event_name == 'push' || !contains(github.event.pull_request.labels.*.name, 'no_ci')

    steps:
      - uses: actions/checkout@v2

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: 'latest'
          python-version: ${{ matrix.python-version }}
          activate-environment: dascore
          environment-file: environment.yml
          condarc-file: .github/test_condarc.yml

      - name: install dascore
        shell: bash -l {0}
        run: |
          python -m pip install -e .[test]

      - name: print package info
        shell: bash -l {0}
        run: |
          conda info -a
          conda list

      # Runs test suite and calculates coverage
      - name: run test suite
        shell: bash -l {0}
        run: |
          pytest -s --cov dascore --cov-append --cov-report=xml

      # Runs examples in docstrings
      - name: test docstrings
        shell: bash -l {0}
        run: |
          pytest dascore --doctest-modules

      # Runs the documentation notebooks
#      - name: test notebook docs
#        shell: bash -l {0}
#        run: |
#          pytest docs --codeblocks

      # upload coverage
      - name: upload coverage
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage.xml
          flags: unittests
          name: PR_tests
          fail_ci_if_error: false


# This is a very useful step for debugging, it allows you to ssh into the CI
# machine (https://github.com/marketplace/actions/debugging-with-tmate).
#
#- name: Setup tmate session
#  uses: mxschmitt/action-tmate@v3
